<main class="person">
  <img class="image" [src]="this.user?.photo" alt="User Photo">
  <div class="info">
    <label for="username">Name</label>
    <p id="username" [innerHTML]="this.user?.username"></p>
    <label for="birthday">Birthday</label>
    <p id="birthday" [innerHTML]="this.user?.birthday"></p>
    <label for="location">Location</label>
    <p id="location" [innerHTML]="this.user?.location"></p>
    <label for="gender">Gender</label>
    <p id="gender" [innerHTML]="this.user?.gender"></p>
    <label for="description">Description</label>
    <p id="description" [innerHTML]="this.user?.description"></p>

  </div>
  <div class="buttons">
    <img class="dislike button" src="assets/icons/close.png" (click)="dislike()" alt="Dislike">
    <img class="like button" src="assets/icons/heart.png" alt="Like" (click)="like()">
  </div>
</main>
