body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E4F0FF;
}
.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  height: 100vh;
}
app-header {
  color: white;
  font-size: 14px;
  grid-area: header;
  text-align: center;
  background-color: dimgray;
}

app-nav {
  grid-area: nav;
  background-color: gray;
}

app-privacy-policy,
app-main {
  grid-area: content;
  background-color: darkgray;
  padding: 25px;
}

app-aside {
  grid-area: side;
  background-color: gray;
}

app-footer {
  grid-area: footer;
  background-color:gray;
  color: white;
  text-align: center;
  padding: 25px 0;
}
ul li {
  color: white;
}
ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  app-nav,
  app-aside {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}

app-header,
app-footer,
app-aside,
app-main,
app-nav{
  border: 1px solid lightgray;
}

.image{
  display: block;
  width: 100%;
  height: auto;
  grid-area: img;
}

.info{
  grid-area: info;
}

.person{
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img info" "buttons .";
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "dislike like";
}

.button{
  width: 50%;
  height: auto;
}

.dislike{
  grid-area: dislike;
  justify-self: start;
}

.like{
  grid-area: like;
  justify-self: end;
}
